---
---

<header class="fixed top-0 left-0 right-0 z-50 border-b border-border bg-black! backdrop-blur-sm supports-backdrop-filter:bg-background/60">
  <div class="max-w-5xl mx-auto px-4 py-2.5 text-center">
    <h1 class="text-xs font-semibold tracking-widest text-white uppercase ">
      Japanese Word Rank Lookup
    </h1>
  </div>
</header>
