---
const base = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<header class="fixed top-0 left-0 right-0 z-50 border-b border-border bg-primary backdrop-blur-sm">
  <a href={`${base}/`}  class="max-w-5xl  w-full">
    <span class="text-xs font-bold tracking-widest w-full text-center block py-1 text-primary-foreground uppercase no-underline hover:opacity-80 transition-opacity">
      Japanese Word Rank Lookup 🦉
    </span>
  </a>
</header>
